Task2_Workflow_PalakBoricha.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "36ad7125-ca88-4a15-9c20-4397faf61fbf",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://vercel.com",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "06709dbf-083c-4560-9031-d3aacf04c0db",
      "name": "Check Web App",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      url: \"https://vercel.com\",\n      host: \"vercel.com\",\n      statusCode: 200,\n      contentReceived: $json.data ? true : false,\n      contentLength: $json.data ? $json.data.length : 0,\n      checkedAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "34201b39-2994-44a7-8c5d-19799d598742",
      "name": "Extract Metrics"
    },
    {
      "parameters": {
        "url": "https://api.ssllabs.com/api/v3/analyze",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "host",
              "value": "={{$json.host}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "be29ac56-86a9-4a09-afa8-9b5ebfe3ae4c",
      "name": "Check SSL",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2ef6946d-123e-4d9d-838c-5e8e0be18eb8",
              "leftValue": "={{$json.endpoints[0].grade}}",
              "rightValue": "A+",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "e1ac0bc0-152c-4aea-b20b-431c2a7268ca",
      "name": "Is Site Healthy?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4bd5b34-35d9-40b0-ae8b-c40a5b9d35e8",
              "name": "subject",
              "value": "Health Brief: Vercel is Healthy",
              "type": "string"
            },
            {
              "id": "8ab533c6-1c2a-4180-98a2-435ec5b3a17b",
              "name": "message",
              "value": "Application: https://vercel.com  Status: Healthy! SSL Grade: A+ The website is reachable and the SSL configuration meets the highest security standard. No action is required.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -64
      ],
      "id": "9ae0c748-b073-44a7-a131-d40f5626ca07",
      "name": "Healthy Digest"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73931a63-8d68-4020-a698-96a017659e15",
              "name": "subject",
              "value": "🚨 Health Brief: Attention Required",
              "type": "string"
            },
            {
              "id": "66b867ed-97d9-4785-9967-c9eaf7d8142b",
              "name": "message",
              "value": "Application: https://vercel.com  Status: Alert 🚨  The SSL grade is below A+ or another issue was detected. Please investigate the website and security configuration.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        144
      ],
      "id": "2887aeca-63b3-40cc-bfcb-a1fd268a8d3c",
      "name": "Alert Digest"
    },
    {
      "parameters": {
        "sendTo": "palakboricha1208@gmail.com",
        "subject": "={{$json.subject}}",
        "emailType": "text",
        "message": "={{$json.message}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        -64
      ],
      "id": "f40cc4fd-b573-4f78-b3c4-bbf127bcaaff",
      "name": "Send Healthy Email",
      "webhookId": "916d141d-84e3-4ae4-a7dd-61595413931b",
      "credentials": {
        "gmailOAuth2": {
          "id": "z0VkqAbu0eCkxhzu",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "palakboricha1208@gmail.com",
        "subject": "={{$json.subject}}",
        "emailType": "text",
        "message": "={{$json.message}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        144
      ],
      "id": "1001dc76-fc6b-4f83-9619-6ed1c0ba5aa4",
      "name": "Send Alert Email",
      "webhookId": "3c76f675-f1a9-4e2b-9330-725e656d9473",
      "credentials": {
        "gmailOAuth2": {
          "id": "z0VkqAbu0eCkxhzu",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Web App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Web App": {
      "main": [
        [
          {
            "node": "Extract Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metrics": {
      "main": [
        [
          {
            "node": "Check SSL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SSL": {
      "main": [
        [
          {
            "node": "Is Site Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Site Healthy?": {
      "main": [
        [
          {
            "node": "Healthy Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Healthy Digest": {
      "main": [
        [
          {
            "node": "Send Healthy Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Digest": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d8c01769-18b3-471d-8c79-d0a4829949b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "240d5fb43223e52642e9bd3307689b7b1458337529a3d1bcdb6786829cab3d4b"
  },
  "id": "0XiEOD2HejTq79n2",
  "tags": []
}